<div class="well">
  <p>
    <strong>Trust someone</strong>. This tells other agents that you know about an agent's identity
    and can assure that they are part of your faction.
  </p>

  <form class="form-inline" method="post" action="<%= urlFor({ controller: "player", action: "trust" }) %>" autocomplete="off">
    <input type="hidden" name="_csrf" value="<%= csrf %>" />
    <input type="hidden" name="backurl" value="<%= urlFor({ controller: route.crontroller, action: route.action }) %>" />
    <input type="text" class="complete-nickname" class="input-medium" name="nickname" placeholder="whom to trust">
    <button type="submit" class="btn">Submit</button>
  </form>
</div>
