<% if(!user.nickName) { %>
  <div class="alert alert-info">
    <p>
      <strong>I need to know your nickname.</strong>
      Other agents won't be able to find your profile right here, unless you reveal it to me.
    </p>

    <form class="form-inline" method="post" action="<%= urlFor({ controller: "player", action: "nickname" }) %>" >
      <input type="hidden" name="_csrf" value="<%= csrf %>" />
      <input type="text" class="input-medium" name="nickname" placeholder="your nickname">
      <button type="submit" class="btn">Submit</button>
    </form>
  </div>
<% } %>


<div class="alert alert-success">
  <p>
    <strong>Poke someone</strong>, to ask another agent to assure your identity.
  </p>

  <form class="form-inline" method="post" action="<%= urlFor({ controller: "player", action: "poke" }) %>" autocomplete="off">
    <input type="hidden" name="_csrf" value="<%= csrf %>" />
    <input type="text" id="poke-nickname" class="input-medium" name="nickname" placeholder="whom to poke">
    <button type="submit" class="btn">Submit</button>
  </form>
</div>