<div class="hero-unit">
  <h1><%= title %></h1>
  <p>
    This project is about building a web of trust among Franconian Ingress Resistance agents.
    If you either don't know what this is all about, or are an Enlightened agent, please just
    go away and leave us alone.
    Otherwise feel free to login via Google+ and be part of our community.
  </p>

  <p>
    <a class="btn btn-primary btn-large" href="/auth/google">
      Login via Google+
    </a>
  </p>
</div>
