<div class="hero-unit">
  <h1><%= title %></h1>
  <p>
    This project is all about building a web of trust of Franconian Ingress Resistance agents.
    If you either don't know what it's all about or are an Enlightened agent, please just draw
    away and leave us alone.
    Otherwise feel free to login via Google+ and be part of our community.
  </p>

  <p>
    <a class="btn btn-primary btn-large" href="/auth/google">
      Login via Google+
    </a>
  </p>
</div>